.aboutSection {
    min-height: 85vh;
    margin-left: 100px;
    padding-top: 150px;
}

.aboutContent {
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.aboutText {
    margin-bottom: 25px;
    color: #1A1A23;
}

.aboutText h1 {
    font-size: 5rem;
    margin: 0;
}

.aboutText h2 {
    font-size: 2rem;
    font-weight: lighter;
    margin: 0 0 25px 0;
    color: #3a3a3a;
}

.aboutText p {
    font-size: 1.2rem;    
}

.aboutButtons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.aboutButton {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    width: 200px;
    height: 40px;
    border-radius: 50px;
    padding: 8px 0 0 0;
}

.workButton {
    color: #663399;
    border: 2px solid #663399;
}

.workButton:hover {
    background-color: #EBEBEB;
}

.contactButton {
    background-color: #663399;
    color: #EBEBEB;
    border: 2px solid #663399;
}

.contactButton:hover {
    background-color: #EBEBEB;
    color: #663399;
    border: 2px solid #663399;
}

/* small devices (phones) 688px */
@media (max-width: 43em) {

}

/* medium devices (tablets) 992px */
@media (max-width: 62em) {

}

/* large devices (computers) 1312px */
@media (max-width: 82em) {

}
