.aboutSection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
}

.aboutHeadersAndImageDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 30px 0 0 0;
}

.aboutHeaders {
    width: 650px;
}

.aboutHeaders h1 {
    font-size: 5rem;
    margin: 0;
}

.aboutHeaders h2 {
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
}

.aboutButtonsAndTextDiv {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutButtonsAndTextDiv p {
    font-size: 1.2rem;
}

.aboutButtons {
    width: 475px;
    display: flex;
    justify-content: space-between;
}

.aboutButton {
    font-size: 1.2rem;
    width: 200px;
    height: 40px;
    border-radius: 50px;
}
