.pageContainer {
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.aboutDiv {
  position: relative;
}

.aboutDiv::after {
  content: "";
  background: url(/images/computer.jpg);
  background-size: cover;
  background-position: left;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.projectsDiv {
  background-image: linear-gradient(420deg, rgba(29, 29, 29, 0.05) 0%, 
                                            rgba(29, 29, 29, 0.05) 25%,
                                            rgba(226, 226, 226, 0.05) 25%, 
                                            rgba(226, 226, 226, 0.05) 50%,
                                            rgba(21, 21, 21, 0.05) 50%, 
                                            rgba(21, 21, 21, 0.05) 75%,
                                            rgba(216, 216, 216, 0.05) 75%, 
                                            rgba(216, 216, 216, 0.05) 100%),
                    linear-gradient(264deg, rgba(0, 0, 0, 0.05) 0%, 
                                            rgba(0, 0, 0, 0.05) 25%,
                                            rgba(108, 108, 108, 0.05) 25%, 
                                            rgba(108, 108, 108, 0.05) 50%,
                                            rgba(21, 21, 21, 0.05) 50%, 
                                            rgba(21, 21, 21, 0.05) 75%,
                                            rgba(236, 236, 236, 0.05) 75%, 
                                            rgba(236, 236, 236, 0.05) 100%),
                    linear-gradient(296deg, rgba(153, 153, 153, 0.05) 0%, 
                                            rgba(153, 153, 153, 0.05) 25%,
                                            rgba(83, 83, 83, 0.05) 25%, 
                                            rgba(83, 83, 83, 0.05) 50%,
                                            rgba(5, 5, 5, 0.05) 50%, 
                                            rgba(5, 5, 5, 0.05) 75%,
                                            rgba(82, 82, 82, 0.05) 75%, 
                                            rgba(82, 82, 82, 0.05) 100%),
                    linear-gradient(389deg, rgba(26, 26, 26, 0.05) 0%, 
                                            rgba(26, 26, 26, 0.05) 25%,
                                            rgba(223, 223, 223, 0.05) 25%, 
                                            rgba(223, 223, 223, 0.05) 50%,
                                            rgba(232, 232, 232, 0.05) 50%, 
                                            rgba(232, 232, 232, 0.05) 75%,
                                            rgba(153, 153, 153, 0.05) 75%, 
                                            rgba(153, 153, 153, 0.05) 100%),
                    linear-gradient(299deg, rgba(120, 120, 120, 0.05) 0%, 
                                            rgba(120, 120, 120, 0.05) 25%,
                                            rgba(191, 191, 191, 0.05) 25%, 
                                            rgba(191, 191, 191, 0.05) 50%,
                                            rgba(246, 246, 246, 0.05) 50%, 
                                            rgba(246, 246, 246, 0.05) 75%,
                                            rgba(123, 123, 123, 0.05) 75%, 
                                            rgba(123, 123, 123, 0.05) 100%),
                    linear-gradient(182deg, rgb(32,234,255),rgb(37,116,255));
}

.contactDiv {
  position: relative;
}
.contactDiv::after {
  content: "";
  background: url(/images/desktop.jpg);
  background-size: cover;
  background-position: 50% 75%;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
