.projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin: 25px;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.33);
}

.projectTitle {
    text-align: center;
}

.projectImage img {
    height: 225px;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

.projectDescription {
    height: 75px;
    width: 100%;
    height: 85px;
    text-align: center;
}

.projectDescription p {
    padding: .7rem;
    margin: 0;
}

.projectTech ul {
    padding: 0 20px;
    min-height: 75px;
}

.projectTech li {
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    margin: 5px;
    background-color: #c6f8ec;
    color: #1f6655;
}

.projectLinks {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid #1A1A23;
}

.projectLinks a {
    display: block;
    flex-grow: 1;
    text-align: center;
    padding: 20px 0 20px 0;
}

.projectLinks a:nth-child(1) {
    border-right: 1px solid #1A1A23;
}

.projectLinks a:nth-child(1):hover {
    background-color: #c6f8ec;
}

.projectLinks a:nth-child(2):hover {
    background-color: #c6f8ec;
}

.projectLinks svg {
    margin-right: 5px;
}

/* small devices (phones) 688px */
@media (max-width: 43em) {

}

/* medium devices (tablets) 992px */
@media (max-width: 62em) {

}

/* large devices (computers) 1312px */
@media (max-width: 82em) {

}
