.projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 50px;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.33);
}

.projectTitle {
    text-align: center;
}

.projectImage img {
    height: 250px;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

.projectDescription {
    height: 150px;
    width: 100%;
    text-align: center;
}

.projectDescription p {
    padding: .7rem;
    margin: 0;
}

.projectTech ul {
    padding: 0 20px;
}

.projectTech li {
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    margin: 5px;
    background-color: grey;
}

.projectLinks {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid #1A1A23;
}

.projectLinks a {
    display: block;
    flex-grow: 1;
    text-align: center;
    padding: 20px 0 20px 0;
}

.projectLinks a:nth-child(1) {
    border-right: 1px solid #1A1A23;
}

.projectLinks a:nth-child(1):hover {
    background-color: #FECDAA;
}

.projectLinks a:nth-child(2):hover {
    background-color: #FECDAA;
}

.projectLinks svg {
    margin-right: 5px;
}
